html {
    background-color: #333;
    color: white;
    font-size: 1.2em;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);


body{
  font-family: 'Montserrat', sans-serif;
}

/* NAV */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 2px 16px;
    margin: 0px 40px;
}

.navbar-center
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-center p
{
    padding: 0px 20px;
}

.navbar a, .navbar button {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

.navbar button {
    background-color: #333;
    border: none;
    outline: none;
    font-size: 1.1em;

}

#contador-carrito{
    position: absolute; 
    top: 20; 
    right: 60; 
    background-color: red; 
    color: white; 
    padding: 0 5px; 
    border-radius: 50%;
}

#carrito {
    margin-left: 30px;
}

.navbar .dropdown:hover .dropbtn, .boto-nav:hover {
    background-color: red;
}

.dropdown {
    position: relative;
}

.dropbtn {
    font-family: 'Montserrat', sans-serif;
}

.dropdown .dropbtn { 
    font-size: 1em; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
}

.dropdown-content, .dropdown-content-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color:#333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown-menu:hover .dropdown-content-menu {
    display: block;
}

/* FORM */
.common-form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-form form input
{
    margin-bottom: 1em;
    margin-top: 0.2em;
    font-size: 1em;
}

.boto-form
{
    text-align: center;
}

/* COMMON */
.center-div
{
    text-align: center;
}

.white-link {
    color: white;
    text-decoration: none;
}
    
    /* visited link */
.white-link:visited {
    color: white;
}

#wip {
    padding-top: 120px;
    font-size: 5em;
    text-align: center;
    margin-top: 1.2em;
}

.missatgeregistre {
    text-align: center;
}

/* PRODUCTES */
#llista-productes-container
{
    margin: auto 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 10%;
}

.producte-container
{
    background: rgba(255, 252, 252, 0.1);
    border: 2px solid rgb(29, 23, 23);
    padding: 2%;
    width: auto;
    text-align: center;
}

.producte-detall-container
{
    padding: 2%;
    width: auto;
    text-align: center;
}


#h1-productes
{
    display: none;
    text-align: center;
}

/* DETALL PRODUCTE */
.preu-producte
{
    font-size: 1.4em;
}

.boto-afegir-carrito
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
}

.producte-descripcio
{
    margin: 0 auto;
    width: 50%;
}
/* MENU ACC */
.dropbtn-menu {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn-menu:hover, .dropbtn-menu:focus {
    background-color: red;
  }
  
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-menu a:hover {background-color: #ddd;}
  
  .show {display:block;}

/* MODIFCAR COMPTE */
#foto-usuari  {
    border: 1px solid white;
    margin-bottom: 30px;
}

/* CARRITO */
.producte-carrito-container {
    padding: 20px;
    border: 1px solid white;
    background-color: rgba(255, 252, 252, 0.1);
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    display: grid;
    grid-template-areas: 
        "image image title"
        "image image price"
        "image image quantity";
    text-align: center;
}

.info-carrito{
    text-align: right;
}

.imatge-carrito {
    grid-area: image;
}

.titol-carrito {
    grid-area: title;
}

.preu-carrito {
    grid-area: price;
}

.quantity-carrito {
    grid-area: quantity;
}

#total-carrito {
    margin-right: 22%;
    margin-left: 22%;
    margin-bottom: 2%;
    text-align: right;
}

